
@{
    ViewData["Title"] = "CreateAccount";
}

<h1>CreateAccount</h1>

<p>We create an account here</p>

<div id="inputForm">
    <form action="javascript:void(0);" method="POST" onsubmit="addAccount()">
        <label>Name: </label>
        <input type="text" id="add-name" /><br />
        <label>Address: </label>
        <input type="text" id="add-address" /><br />
        <label>Bank Account: </label>
        <input type="text" id="add-account" /><br />
        <label>Phone: </label>
        <input type="text" id="add-phone" /><br />
        <label>Email: </label>
        <input type="text" id="add-email" /><br />
        <label>Password: </label>
        <input type="text" id="add-password" /><br />
        <label>Initial Balance: </label>
        <input type="text" id="add-balance" /><br />
        <button type="submit" id="create-btn" onclick="">Create</button>
    </form>
</div>

<script src="~/js/create.js" asp-append-version="true"></script>