
@{
    ViewData["Title"] = "ProfilePage";
}

<h1>ProfilePage</h1>

<p>This is the profile page</p>
<label>ID: </label>
<input type="text" id="add-id" />
<br />

<div>
    <label>User Account:</label>
    <p id="add-account"></p>
</div>
<div>
    <p id="add-name"></p>
    <p id="add-address"></p>
    <p id="add-phone"></p>
    <p id="add-email"></p>
</div>

<div>
    <label>Balance:</label>
    <p id="add-balance"></p>
</div>


<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody id="account"></tbody>
</table>


<script type="text/javascript">
    const nope = 'https://localhost:44330/api/BankAccounts';
    let account = [];

    var url = document.URL;
    var myid = url.substring(url.lastIndexOf('/') + 1);
    const acctId = parseInt(myid);

    const changeid = document.getElementById('add-id');
    changeid.value = myid;

    const uri = ('https://localhost:44330/api/BankAccounts/' + myid);

    function getAccount() {
        fetch(uri)
            .then(response => response.json())
            .then(data => displayAccount(data))
            .catch(error => console.error('Unable to get account.', error));
    }

    function displayAccount(data) {
        const account = document.getElementById('add-account');
        const name = document.getElementById('add-name');
        const address = document.getElementById('add-address');
        const phone = document.getElementById('add-phone');
        const email = document.getElementById('add-email');
        const balance = document.getElementById('add-balance');

        account.innerHTML = data.bankAccount.number;
        name.innerHTML = data.person.name;
        address.innerHTML = data.person.address;
        phone.innerHTML = data.person.phone;
        email.innerHTML = data.person.email;
        balance.innerHTML = data.bankAccount.balance;

        //const tBody = document.getElementById('account');
        //tBody.innerHTML = '';

        //let tr = tBody.insertRow();

        //let td1 = tr.insertCell(0);
        //let textNode1 = document.createTextNode(data.bankAccount.number);
        //td1.appendChild(textNode1);

        //let td2 = tr.insertCell(0);
        //let textNode2 = document.createTextNode(data.bankAccount.balance);
        //td2.appendChild(textNode2);

        //let td3 = tr.insertCell(0);
        //let textNode3 = document.createTextNode(data.person.name);
        //td3.appendChild(textNode3);

        //let td4 = tr.insertCell(0);
        //let textNode4 = document.createTextNode(data.person.address);
        //td4.appendChild(textNode4);

        //let td5 = tr.insertCell(0);
        //let textNode5 = document.createTextNode(data.person.phone);
        //td5.appendChild(textNode5);

        //let td6 = tr.insertCell(0);
        //let textNode6 = document.createTextNode(data.person.email);
        //td6.appendChild(textNode6);

        //let td7 = tr.insertCell(0);
        //let textNode7 = document.createTextNode(data.person.password);
        //td7.appendChild(textNode7);

    }

</script>

<script type="text/javascript">
    getAccount();
</script>