
@{
    ViewData["Title"] = "ProfilePage";
}

<h2>Welcome to your Account!</h2>

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        width: 230px;
        position: fixed;
        z-index: 1;
        top: 60px;
        left: 10px;
        background: #f8f8f8;
        overflow-x: hidden;
        padding: 8px 0;
    }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 16px;
            color: #2196F3;
            display: block;
        }

    .header {
        width: 100%;
        padding: 10px 0;
        text-align: right;
        background: #f8f8f8;
        display: block;
    }
</style>

<div class="header">
    <h4>User Account:</h4>
    <a id="add-account"></a>
</div>


<div style="display: inline-block">
    <h4>Balance:</h4>
    <a id="add-balance"></a>
</div>

<div class="sidebar">
    <div>
        <a id="add-name"></a>
        <a id="add-address"></a>
        <a id="add-phone"></a>
        <a id="add-email"></a>
    </div>
</div>

<div class="btn-toolbar">
    <div class="btn-group mr-2">
        <button type="submit" id="deposit" onclick="openTransactionForm()">Deposit</button>
    </div>
    <div class="btn-group mr-2">
        <button type="submit" id="withdrawal" onclick="">Withdrawal</button>
    </div>
    <div class="btn-group mr-2">
        <button type="submit" id="transactions" onclick="getTransactions()">Transactions</button>
    </div>
</div>

<div id="transactionForm" style="display:none">
    <form action="javascript:void(0);" method="POST" onsubmit="addTransaction()">
        <label>Amount: </label>
        <input type="text" id="amount"><br />
        <label>Notes: </label>
        <input type="text" id="notes"><br />
        <input type="submit" id="submit-btn" value="Complete">
    </form>
</div>

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody id="transaction"></tbody>
</table>


<script type="text/javascript">
    const nope = 'https://localhost:44330/api/BankAccounts';
    let transaction = [];

    var url = document.URL;
    var myid = url.substring(url.lastIndexOf('/') + 1);
    const acctId = parseInt(myid);

    const uri = ('https://localhost:44330/api/BankAccounts/' + myid);
    const uri2 = ('https://localhost:44330/api/Transactions/' + myid);

    function getAccount() {
        fetch(uri)
            .then(response => response.json())
            .then(data => displayAccount(data))
            .catch(error => console.error('Unable to get account.', error));
    }

    function getTransactions() {
        fetch(uri2)
            .then(response => response.json())
            .then(data => displayTransactions(data))
            .catch(error => console.error('Unable to get transactions.', error))
    }

    function addTransaction() {
        const amount = document.getElementById('amount');
        const notes = document.getElementById('notes');

        const trans = {
            amount: parseFloat(amount.value),
            notes: notes.value,
            acct_Id: acctId
        };

        fetch(uri2, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(trans)
        })
            .then(response => response.json())
            .then(() => {
                closeTransactionForm();
                getTransactions();
            })
            .catch(error => console.error('Unable to add transaction', error));
    }

    function displayAccount(data) {
        const account = document.getElementById('add-account');
        const name = document.getElementById('add-name');
        const address = document.getElementById('add-address');
        const phone = document.getElementById('add-phone');
        const email = document.getElementById('add-email');
        const balance = document.getElementById('add-balance');

        account.innerHTML = data.bankAccount.number;
        name.innerHTML = data.person.name;
        address.innerHTML = data.person.address;
        phone.innerHTML = data.person.phone;
        email.innerHTML = data.person.email;
        balance.innerHTML = data.bankAccount.balance;
    }

    function displayTransactions(data) {
        const tBody = document.getElementById('transaction');

        data.forEach(item => {
            let tr = tBody.insertRow();

            let td1 = tr.insertCell(0);
            let textNode1 = document.createTextNode(item.amount);
            td1.appendChild(textNode1);

            let td2 = tr.insertCell(1);
            let textNode2 = document.createTextNode(item.notes);
            td2.appendChild(textNode2);

            let td3 = tr.insertCell(2);
            let textNode3 = document.createTextNode(item.date);
            td3.appendChild(textNode3);
        });

        transaction = data;
    }

    function openTransactionForm() {
        document.getElementById('transactionForm').style.display = 'block';
    }

    function closeTransactionForm() {
        document.getElementById('transactionForm').style.display = 'none';
    }

</script>

<script type="text/javascript">
    getAccount();
</script>