
@{
    ViewData["Title"] = "ProfilePage";
}

<link rel="stylesheet" href="~/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidebar">
    <div>
        <label id="add-first-name"></label>
        <label id="add-last-name"></label><br />
        <label id="add-address"></label><br />
        <label id="add-city"></label>
        <label id="add-state"></label>
        <label id="add-zip"></label><br />
        <i id="phone-icon"></i>
        <label id="add-phone"></label><br />
        <i id="email-icon"></i>
        <label id="add-email"></label>
    </div>
    <br />
    <br />
    <br />
    <div>
        <label id="add-mmn"></label>
    </div>
</div>

<div class="main-profile">
    <h2>Welcome to your Account!</h2>
    <div class="header">
        <h4><a id="acct-type"></a> account: <a id="add-account"></a></h4>
    </div>

    <div style="display: inline-block">
        <h4>Available Balance: <a id="add-balance"></a></h4>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group mr-2">
            <button type="submit" id="deposit" onclick="openDepositTransactionForm()">Deposit</button>
        </div>
        <div class="btn-group mr-2">
            <button type="submit" id="withdrawal" onclick="openWithdrawalTransactionForm()">Withdrawal</button>
        </div>
        <div class="btn-group mr-2">
            <button type="submit" id="transactions" onclick="getTransactions()">Transactions</button>
        </div>
    </div>
    <br />
    <div id="transactionForm" style="display:none; max-width:220px;">
        <form action="javascript:void(0);" method="POST" onsubmit="addTransaction()" style="display:flex; flex-direction:column;">
            <input type="hidden" id="type" />
            <label>Amount: </label>
            <input type="text" id="amount"><br />
            <label>Notes: </label>
            <input type="text" id="notes"><br />
            <input type="submit" id="submit-btn" value="Complete">
        </form>
    </div>
    <br />
    <div id="table" style="display:none">
        <table>
            <tr>
                <th>Date: </th>
                <th>Type: </th>
                <th>Amount: </th>
                <th>Description: </th>
            </tr>
            <tbody id="transaction"></tbody>
        </table>

    </div>
</div>

<script src="~/js/profile.js" asp-append-version="true"></script>
<script type="text/javascript">
    getAccount();
</script>