
@{
    ViewData["Title"] = "CreateAccount";
}

<link rel="stylesheet" href="~/css/edit.css">

<div style="background-image: url('https://image.shutterstock.com/shutterstock/photos/748798912/display_1500/stock-photo-business-office-building-lobby-blur-background-of-bank-reception-hall-customer-or-patient-counter-748798912.jpg');
       background-repeat: no-repeat;
       background-size: cover;">

    <h1>Edit Account</h1>
    <button type="submit" id="go-back" onclick="goToProfilePage()">Go back</button>

    <br />
    <div class="edit-container">
        <form action="javascript:void(0);" method="POST" onsubmit="">
            <div class="row">
                <div class="col-25">
                    <label>First name: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-first-name" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Last name: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-last-name" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Address: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-address" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>City: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-city" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>State: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-state" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>ZIP: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-zip" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Mother's maiden name: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-mmn" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Phone: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-phone" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Email: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-email" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Account type: </label>
                </div>
                <div class="col-75">
                    <select name="acct-type" id="edit-type">
                        <option value="checking">Checking</option>
                        <option value="savings">Savings</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Bank Account: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-account" /><br />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-25">
                    <label>Password: </label>
                </div>
                <div class="col-75">
                    <input type="text" id="edit-password" />
                </div>
            </div>
            <br />
            <div class="row">
                <button type="submit" class="floated" id="update-btn" onclick="updateAccount()">Update</button>
                <button type="submit" class="floated" id="delete-btn" onclick="deleteAccount(acctId)">Delete</button>
            </div>
        </form>
    </div>
</div>


<script src="~/js/edit.js" asp-append-version="true"></script>
<script type="text/javascript">
    getAccount();
</script>