@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="loginForm">
        <input type="submit" value="Log In" id="login-form" onclick="openInputField()" />
        <form action="javascript:void(0);" method="POST" onsubmit="">
            <input type="hidden" id="email" />
            <input type="hidden" id="password" />
            <input type="hidden" id="login-btn" />
        </form>
    </div>
    <br />
    <div id="createUser">
        <input type="submit" value="Create User" id="create-btn" onclick="" />
    </div>
</div>

<script src="Views/Home/Index.js" asp-append-version="true"></script>
<script>
    function openInputField() {
        var loginForm = document.getElementById('login-form');
        loginForm.setAttribute('type', 'hidden');

        var createUserBtn = document.getElementById('create-btn');
        createUserBtn.setAttribute('type', 'hidden');

        var inputEmail = document.getElementById('email');
        inputEmail.setAttribute('type', 'text');

        var inputPassword = document.getElementById('password');
        inputPassword.setAttribute('type', 'text');

        var loginBtn = document.getElementById('login-btn');
        loginBtn.setAttribute('type', 'submit');
    }
</script>
