@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="login">
        <input type="submit" value="Log In" id="login-form" onclick="openInputField()" />
        <div id="loginForm" style="display:none">
            <form action="javascript:void(0);" method="POST" onsubmit="">
                <label>Email: </label>
                <input type="text" id="email"><br />
                <label>Password: </label>
                <input type="text" id="password"><br />
                <input type="submit" id="login-btn" value="Log In">
            </form>
        </div>
    </div>
    <br />
    <div id="createUser">
        <input type="submit" value="Create User" id="create-btn" onclick="" />
    </div>
</div>

<script src="~/js/index.js" asp-append-version="true"></script>
